@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss"; 

@theme {
  /* fonts */
  --font-space-grotesk:"Poppins", sans-serif;

  /* colors */
  --color-primary-green:#38CB89;
  --color-primary-light: #F3F5F7;
  --color-primary-gray: #6C7275;
  --color-primary-blue: #377DFF;
  

 
}
@layer {
  .custom-padding {
    @apply px-4 md:px-9 lg:px-16 xl:px-20 2xl:px-30;
  }
 
  h1 {
    @apply text-3xl lg:text-4xl xl:text-5xl 2xl:text-6xl;
  }
  p {
    @apply md:text-lg;
  } 
  .floating-element {
    animation: float 3s ease-in-out infinite;
  }
}

body {
  overflow-x: hidden !important;
  font-family: var(--font-space-grotesk);
}
/* Define the keyframes animation */
@keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  /* Create a class to apply the animation */
  .float-animation {
    animation: float 3s ease-in-out infinite;
    will-change: transform;
    backface-visibility: hidden;
  }
  
  


   

